@media (max-width: 767px) {
  .menu-items {
      display: none;
      flex-direction: column;
      gap: 15px;
      position: absolute;
      top: 40px;
      right: 0;
      background-color: #fff;
      width: 120px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #000;
  }

  .hamburger-menu {
      display: block; 
  }

  .menu-items.show {
      display: flex;
  }
}

@media (min-width: 576px) {
  .column {
      flex: 0 0 50%;
      max-width: 50%;
  }
} 

@media (max-width: 767px) {
  #about .row {
    flex-direction: column; 
  }

  #about .column {
    flex: none; 
    max-width: 100%;
  }

  #about #about2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  #skills .single-skill {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  #skills .single-skill {
    flex-basis: 100%; 
  }
}

@media (max-width: 991px) {
  #portfolio .item-img {
    flex-basis: 100%;
    margin-bottom: 420px;
  }
}

@media (max-width: 767px) {
  #portfolio .item-img {
    flex-basis: 100%; 
    margin-bottom: 150px;
  }
}

@media (max-width: 767px) {
  #resume .row {
    display: block; 
  }

  #resume .education-container {
    flex-basis: 100%; 
    margin-bottom: 20px; 
  }
}

@media (max-width: 991px) {
  .single-service {
      flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .single-service {
      flex-basis: 100%;
  }
}