@media (min-width: 576px) {
  .column {
      flex: 0 0 50%;
      max-width: 50%;
  }
} 

@media (max-width: 767px) {
  #about .row {
    flex-direction: column; 
  }

  #about .column {
    flex: none; 
    max-width: 100%;
  }

  #about #about2 {
    margin-top: 20px;
  }
}

/* Por defecto, en pantallas grandes (> 991px) */
#skills .row.skills {
  display: flex;
  flex-wrap: wrap;
} 

/* #skills .single-skill {
  flex-basis: 33.33%; 
  padding: 10px;
} */

/* Para pantallas medianas (entre 767px y 991px) */
@media (max-width: 991px) {
  #skills .single-skill {
    flex-basis: 50%; /* Dos bloques por fila en pantallas medianas */
  }
}

/* Para pantallas pequeñas (≤ 767px) */
@media (max-width: 767px) {
  #skills .single-skill {
    flex-basis: 100%; /* Un bloque por fila en pantallas pequeñas */
  }
}
